@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.main-box{
    position: relative;
    background-image: url('./computer.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.main-box .sidebar-menu{
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -300px;
    background-color: rgba(255,255, 255, 0.1);
    box-shadow: 0 0 8px rgba(255, 255, 255,0.5);
    transition: all 0.2s linear;
}
.sidebar-menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 8px rgba(255, 255, 255,0.3);
}
.sidebar-menu .logo a{
    color: white;
    font-size: 25px;
    font-weight: 500;
    position:absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
}
.sidebar-menu .menu{
    position: absolute;
    top: 80px;
    width: 100%;

}
.sidebar-menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
    transition: all 0.5s linear;

}
.sidebar-menu .menu i{
    color: #fff;
    font-size: 1.25rem;
    padding-right: 8px;
}
.sidebar-menu .menu a{
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;

}
.sidebar-menu .menu li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255,0.5);
}
.sidebar-menu .social-media{
    position: absolute;
    left: 20%;
    bottom:100px;

}
.sidebar-menu .social-media i{
    padding: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.4;
    transition: all 0.2s linear;
}
.sidebar-menu .social-media i:hover{
    opacity: 1;
}
#check{
    display: none;
}
.main-box .btn_one i{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    left: 1rem;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}
.main-box .btn_one i:hover{
    font-size: 3.2rem;
}
.sidebar-menu .btn_two i{
    font-size: 2rem;
    font-weight: 400;
    line-height: 60px;
    position: absolute;
    right: 1rem;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
}
.sidebar-menu .btn_two i:hover{
    font-size: 2.3rem;
}
#check:checked ~ .sidebar-menu{
    left: 0;
}
#check:checked ~ .btn_one{
    opacity: 0;
}
#check:checked ~ .sidebar-menu .btn_two i{
    opacity: 1;
}